* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    // font-family: 'Poppins', sans-serif;
}


// Designing the navigation bar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);

    .logo {
        width: 120px;
    }

    ul {
        display: flex;
        list-style-type: none;

        li {
            padding: 1rem;

            
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.2rem;
                text-decoration: none;
                transition: all ease-in-out 0.1s;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}

// Designing the hero section
.hero-section {
    display: flex;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(82, 82, 82));

    .word-part {

        h1 {    
            margin-bottom: 1rem;
            font-size: 4rem;
        }
        color: #fff;
        padding: 2rem;
    }
    .banner-img {
        width: 30rem;
    }

    p {
        margin-bottom: 1.5rem;
    }
}

// Designing the button
.btn {
    color: #fff;
    text-decoration: none;
    background-color: plum;
    padding: 0.7rem;
    display: block;
    text-align: center;
    width: 70px;
    transition: all ease-in-out 0.5s;
    font-weight: bold;
    border-radius: 10%;

    &:hover {
        width: 100px;
        text-align: center;
    }
}


// designing the about section

.about-us-heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 1.5rem;
}
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
.about-paragraph{
        h2 {
            font-size: 2.2rem;
        }
        p {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }

        .contact {
            width: 150px;
            padding: 0.7rem;

            &:hover {
                width: 170px;
            }
        }
    }
}

// Designing the our services part
.service {
    color: #fff;
    background: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;

    .our-service-heading {
        text-align: center;
        font-size: 3rem;
        padding: 1.5rem;
    }

    .box-of-service {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem;

        .box {
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            width: 200px;
            height: 400px;
            background-color: #000000;
            border-radius: 10%;
            box-shadow: 1px 1px 10px #fff;
            
            ion-icon {
                font-size: 5rem;
            }

            h3 {
                font-size: 1.5rem;
                padding: 1rem;
            }

            p {
                margin-bottom: 1.8rem;
            }

            // Designing the small detail button
            .btn-detail {
                color: #fff;
                text-decoration: none;
                font-size: 1.1rem;
                padding: 0.5rem;
                background-color: gray;
                transition: all ease-in-out 0.1s;

                &:hover {
                    background-color: rgb(82, 82, 82);
                }
            }
        }
    }
}

// Designing the footer part
footer {
    background-color: #000000;
    color: #fff;

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem;

        .info-box-one {

            h2 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }
            width: 150px;
        }

        .info-box {

            h3 {
                margin-bottom: 1rem;
                font-size: 1.3rem;
            }
            ul {
                list-style-type: none;

                li {
                    padding: 0.2rem;
                }
            }

        }

    }

    hr {
        width: 500px;
        margin: auto;
    }

    .copyright {
        margin-top: 0.1rem;
        padding: 1.8rem;
        text-align: center;
    }
}