* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    // font-family: 'Poppins', sans-serif;
}


// Designing the navigation bar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);

    .logo {
        width: 120px;
    }

    ul {
        display: flex;
        list-style-type: none;

        li {
            padding: 1rem;

            
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.2rem;
                text-decoration: none;
                transition: all ease-in-out 0.1s;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}

// Designing the hero section
.hero-section {
    display: flex;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(82, 82, 82));

    .word-part {

        h1 {
            margin-bottom: 1rem;
            font-size: 4rem;
        }
        color: #fff;
        padding: 2rem;
    }
    .banner-img {
        width: 30rem;
    }
}